<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        AndroidManifest.xml

        Author: Kapil Pandey
        Syndey Group

        Description:
        Main manifest file for GenAI Expense Tracker app.

        It includes:
        - Permissions (Internet access)
        - Application-level metadata (Facebook SDK)
        - Activity declarations
        - Firebase Dynamic Link intent filters
        - App launcher configuration

        Last Updated: May 2025
    -->

    <!-- Permission for network access -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GenAIExpenseTracker"
        tools:targetApi="31">

        <!-- App Screens (Activities) -->
        <activity android:name=".navbar" android:exported="false" />
        <activity android:name=".SetNewPassword" android:exported="false" />
        <activity android:name=".ForgotPassword" android:exported="false" />
        <activity android:name=".SignUp" android:exported="false" />
        <activity android:name=".SignIn" android:exported="false" />

        <!-- Facebook SDK Configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />

        <!-- Facebook Login Activities -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Welcome Activity: handles Firebase Dynamic Links and Launch -->
        <activity
            android:name=".Welcome"
            android:exported="true">

            <!-- Firebase Dynamic Link Redirect -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="cqugenaiexpensetracker.page.link" />
            </intent-filter>

            <!-- App Launcher Entry Point -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
